{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="{% static "images/favicon-1.ico" %}" type="image/x-icon">
    <title>Bubble Med</title>
    <!-- Bootstrap -->

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/estilos.css" %}">
    <link rel="icon" type="imagenes/vnd.microsoft.icon" href="{% static "imagenes/favicon.ico" %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block title %}
    <header class="header col-md-12" >
        <div class="espacio col-md-4"></div>
        <img class="logo col-md-4" src="{% static "imagenes/logo.jpeg" %}">
        <div class="espacio col-md-4"></div>
    </header>
    {% endblock %}

    <main class="col-md-12">

    {% block navbar %}

    <nav  class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/estudios">Mis Estudios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vacunas">Mis Vacunas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/estudios/alta">Subir Estudios</a>
                </li>
            </ul>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ¡HOLA NICK! &nbsp; &nbsp; &nbsp; <i class="fas fa-user"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/perfil">Ver Perfil</a>
                    <a class="dropdown-item" href="/grupo">Mi Grupo</a>
                    <hr/>
                    <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </nav>

    {% endblock %}
    <hr class="separador" style="margin-top: 0;"/>

    {% block body %}
    {% endblock %}
    </main>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"/>
    <script src="{% static "js/tm-scripts.js" %}"/>
</body>
</html>
