{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="container col-md-12">

          <div class="contenedorVisualizacionEstudio col-md-12">
          <h2>RADIOGRAFÍA DE RODILLA</h2>

          <div class="contenidoVisualizacionEstudio col-md-8">
          <b>TIPO:</b> RADIOGRAFÍA<br>
          <b>FECHA:</b> 18/03/2020<br>
          <b>LABORATORIO:</b> DIAGNÓSTICO ROSSI<br>
          <b>PROFESIONAL:</b> JUAN JOSÉ FERNÁNDEZ<br>

        </div>

        <div class="contenidoVisualizacionArchivo col-md-4">
        <a href="" class="descargarArchivo"><div class="archivo col-md-12">Radiografia.pdf <i class="far fa-file-alt iconoArchivo"></i></div></a>
        </div>
        </div>

    </div>
{% endblock %}
