{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="container col-md-12">
  <div class="col-md-12 panelEstudios">
    <a href="/grupo/alta"><button type="button" class="col-md-3 btn btn-secondary botonSubirEstudio">+ CARGAR UN DEPENDIENTE</button></a>
       
  </div>
  {% for child in group %}
    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="card-link" href="/grupo/{{child.id}}">{{child.full_name}}</a>
          <a class="card-link iconCard" href="/grupo/{{child.id}}/delete"><i class="fas fa-trash-alt"></i></a>
          <a class="card-link iconCard" href="/grupo/{{child.id}}"><i class="fas fa-pencil-alt"></i></a>
        </div>
      </div>
    </div>
  {% endfor %}
 </div>

{% endblock %}
