{% extends "base.html" %}
{% load bootstrap %}
{% load static %}

{% block body %}
  <div class="container col-md-12">
    <div class="textoRegistro col-md-6"><span>BUBBLE MED te ayuda a gestionar el guardado de tus estudios médicos, tus vacunas y los de tu familia.<br><br>
    Te permite visualizarlos, listarlos y compartirlos de manera ágil y segura.</span></div>

    <div class="formulario col-md-5"><span>MI BUBBLE MED</span>
      <hr class="separador">
      <form method="POST" action="" role="form" >
        {% csrf_token %}
        {% if error %}
          <p style="font-size:14px">El nombre de usuario o contraseña es incorrecto.</p>
        {% endif %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary" name="submit" value="ok">INGRESAR</button>
      </form>
      <a class="linkForm" href="miBubbleMed.html">Olvidé mi contraseña</a><br>
      <a class="linkForm" href="registrarse.html">No tengo cuenta, quiero registrarme</a>
    </div>

  </div>
{% endblock %}
