<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon-1.ico" type="image/x-icon">
      <title>Bubble Med</title>

    <!-- Bootstrap -->
       
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/estilos.css">
    <link rel="icon" type="imagenes/vnd.microsoft.icon" href="imagenes/favicon.ico">

     


  </head>

  <body>

  <!--========================================================
                            HEADER
  =========================================================-->
   <header class="header col-md-12" >  
    <div class="espacio col-md-4"></div>
          <img class="logo col-md-4" src="imagenes/logo.jpeg">
    <div class="espacio col-md-4"></div>
      
    </header>
   
  <!--========================================================
                            CONTENT
  =========================================================-->

    <main class="col-md-12"> 

    <nav  class="navbar sticky-top navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="home.html">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="misEstudios.html">Mis Estudios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="misVacunas.html">Mis Vacunas</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="subirEstudio.html">Subir Estudios</a>
      </li>
    </ul>
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ¡HOLA NICK! &nbsp; &nbsp; &nbsp; <i class="fas fa-user"></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="miPerfil.html">Ver Perfil</a>
    <a class="dropdown-item" href="miGrupo.html">Mi Grupo</a>
    <hr>
    <a class="dropdown-item" href="#">Cerrar Sesión</a>
  </div>
</div>
  </div>
</nav>  

   
 <hr class="separador" style="margin-top: 0;">
      

        <div class="container col-md-12">
<div class="col-md-12 panelEstudios">

<a href="subirEstudio.html"><button type="button" class="col-md-3 btn btn-secondary botonSubirEstudio">+ SUBIR UN ESTUDIO</button></a>

<button type="button" class="col-md-2 btn btn-secondary botonFiltros" data-toggle="modal" data-target="#myModal">FILTROS</button>

<div class="col-md-7 input-group buscarEstudios">
  <input type="text" class="form-control" placeholder="BUSCAR" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
  </div>
</div>



</div>
          <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          LABORATORIO CENTRALAB
        </a>
        
        
         
         <a class="card-link iconCard"  href="#">
          <i class="fas fa-trash-alt"></i>
        </a>
        
       
        <a class="card-link iconCard"  href="#">
          <i class="fas fa-download"></i>
        </a>
         <a class="card-link iconCard"  href="#">
          <i class="fas fa-share-alt"></i>
        </a>
        <a class="card-link iconCard"  href="visualizarEstudio.html">
          <i class="far fa-eye"></i>
        </a>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <span class="col-md-4 texto-card-body"><b><i class="far fa-calendar-alt"></i> FECHA:</b> 11/10/2020</span>  <span class="col-md-4 texto-card-body"><b><i class="fas fa-tasks"></i> TIPO:</b> LABORATORIO</span> <span class="col-md-4 texto-card-body"><b><i class="fas fa-map-marker-alt"></i> LUGAR:</b> CENTRALAB</span>
        </div>
      </div>
    </div>
  </div>
 </div>  

</main>


<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">FILTROS</h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form action="">
    <input class="inputModal" type="text" id="nombre" name="nombre" placeholder="NOMBRE"><br>
        <select class ="selectEstudio" id="tipo" name="tipo">
  <option disabled selected>TIPO DE ESTUDIO</option>
  <option value="volvo">Laboratorio</option>
  <option value="saab">Imagen</option>
  <option value="saab">Radiológico</option>
  <option value="audi">Otro</option>
</select><br>

<input class="dateEstudio" id="desde" name="desde" type="text" class="form-control" placeholder="DESDE" onfocus="(this.type='date')"/><br>
<input class="dateEstudio" id="hasta" name="hasta" type="text" class="form-control" placeholder="HASTA" onfocus="(this.type='date')"/><br>

        
        <input class="inputModal" type="text" id="lugar" name="lugar" placeholder="LUGAR"><br>
        <input class="inputModal" type="text" id="profesional" name="profesional" placeholder="PROFESIONAL"><br>
     
        <input class="botonFormularioModal" data-dismiss="modal" type="submit" value="BUSCAR">
        </form>
        </div>
        
      </div>
    </div>
  </div>

    <!--========================================================
                            FOOTER
  =========================================================-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->         
    <script src="js/bootstrap.min.js"></script>
 <script src="js/tm-scripts.js"></script>    


  <!-- </script> -->


  </body>
</html>