{% extends "base.html" %}
{% load bootstrap %}
{% load static %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block body %}
  <div class="container col-md-12 col-sm-12 col-xs-12">
    <div class="textoRegistro col-md-6">
      <span>BUBBLE MED te ayuda a gestionar el guardado de tus estudios médicos, tus vacunas y los de tu familia.<br><br>
        Te permite visualizarlos, listarlos y compartirlos de manera ágil y segura.</span>
    </div>

    <div class="formulario col-md-5"><span>CREÁ TU CUENTA</span>
      <hr class="separador">
      <form method="post">
        {% csrf_token %}
        <div>
          {{ form|bootstrap }}
        </div>
        <label>
          <input class="check" type="checkbox" id="mayor" value="soyMayor" required>
          Declaro ser mayor de 18 años
        </label>
        <br/>
        <label>
          <input class="check" type="checkbox" id="terminos" value="terminosYCondiciones" required>
          Acepto los términos y condiciones
        </label>
        <br>
        <button type="submit" class="botonFormularioSubir" name="submit" value="ok">Registrarme</button>
      </form>

      <a class="linkForm" href="/login">Ya tengo cuenta, quiero ingresar</a>
    </div>
    <div class="pie-registro col-md-12"></div>
  </div>  
{% endblock %}
