{% extends "base.html" %}
{% load bootstrap %}
{% load static %}

{% block head %}
  {{ form.media }}
  {{ form2.media }}
{% endblock %}

{% block body %}
  <div class="container col-md-12 col-sm-12 col-xs-12">
    <div class="contenedorFormularioSubir col-md-12">
      <h3 class="col-md-6">SUBÍ LA VACUNA</h3><br>
      <div class="col-md-12">
        <form role="form" method="post" action="/vacunas/alta" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="col-md-6" style="float: left;">
            {{ form|bootstrap }}
          </div>

          <div class="col-md-6" style="float: left;">
            Archivos
            <table class="table">
              <tbody>
                {% for file in files %}
                <tr>
                  <th scope="row">{{file.name}}</th>
                  <td>
                    <button type="submit" class="btn btn-secondary btn-sm" name="submit" value="remove-{{file.id}}">
                      <i class="fas fa-trash-alt" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
                {% endfor %}
                <tr>
                  <td><input type="file" class="form-control-file" id="file_id" name="file"></td>
                  <td><button type="submit" class="btn btn-secondary btn-sm" name="submit" value="add">Confirmar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12" style="float: left;">
            <button type="submit" class="botonFormularioSubir" name="submit" value="ok">ACEPTAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
