{% extends "base.html" %}
{% load bootstrap %}
{% load static %}

{% block body %}

        <div class="container col-md-12 col-sm-12 col-xs-12">
<div class="col-md-12 panelEstudios">

<a href="/vacunas/alta"><button type="button" class="col-md-3 btn btn-secondary botonSubirEstudio" style="margin-right: 10px!important;">+ SUBIR VACUNAS</button></a>
<a href="vacunas/calendar"><button type="button" class="col-md-3 btn btn-secondary botonSubirEstudio">VER CALENDARIO OFICIAL</button></a>

<div class="buscarEstudios">
  <form method="get" class="form-inline">
    {{ form|bootstrap }}
    <button class="btn" type="submit">
      <span class="input-group-text" id="basic-addon2">
        <i class="fas fa-search"></i>
      </span>
    </button>
  </form>
</div>



</div>
{% for vaccine in vaccines %}
<div id="accordion">
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapse{{vaccine.id}}">{{vaccine.name}}</a>
      <a class="card-link iconCard" href="/vacunas/{{vaccine.id}}/delete"><i class="fas fa-trash-alt"></i></a>
      <a class="card-link iconCard" href="#"><i class="fas fa-share-alt"></i></a>
      <a class="card-link iconCard" href="/vacunas/{{vaccine.id}}"><i class="far fa-eye"></i></a>
    </div>
    <div id="collapse{{vaccine.id}}" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <span class="col-md-6 texto-card-body"><b><i class="far fa-calendar-alt"></i> FECHA: </b>{{vaccine.date}}</span>
        <span class="col-md-6 texto-card-body"><b><i class="fas fa-map-marker-alt"></i> LUGAR:</b> {{vaccine.entity|default:"-"}}</span>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}